.button {
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.2),
    0px 18px 88px -4px rgba(24, 39, 75, 0.2);
  color: rgb(24, 49, 81);
  font-weight: 700;
  white-space: nowrap;
  display: flex;
  gap: .5em;
  justify-content: center;
  align-items: center;
  border-radius: .5em;
  padding: .6em;
  user-select: none;
  -webkit-user-select: none;
}
.button:focus,
.button:hover {
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.35),
    0px 18px 88px -4px rgba(24, 39, 75, 0.35);
  transform: scale(1.02);
}
.button:disabled {
  cursor: not-allowed;
}
.button.transparent {
  background-color: transparent;
}
.button.error {
  background: #FF2828;
}
.button.error path {
  fill: #ffffff;
}
.button > div {
  display: flex;
}

.buttonIcon {
  font-size: var(--iconSize, 1.3em);
  width: 1em;
  height: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonText {
  display: flex;
  gap: 0.5ch;
  justify-content: center;
  align-items: center;
}
