.button {
  background-color: var(--color, #778491);
  opacity: 0.8;
  font-size: var(--size, 1em);
  border-radius: 0.2em;
  padding: 0.1em;
}
.button:hover {
  opacity: 1;
  transform: scale(1.05);
}
